html {
    --color-accent: oklch(45% 0.20 240);
    color-scheme: light dark
}

body {
    font-family: Arial, sans-serif;
    font: 100%/1.5;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
}  

nav {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(50% 10% 200 / 40%);
}

nav a:hover {
    background-color: oklch(50% 0.2 240 / 13%);
    border-bottom: 0.4em solid oklch(90% 0.65 240);
    padding-bottom: calc(0.5em - 0.4em);
}

ul {
    display: contents
}
li {
    display: contents
}

a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

a.current {
    border-bottom: 0.4em solid oklch(50% 10% 200 / 40%);
    padding-bottom: calc(0.5em - 0.4em);
}

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    grid-template-rows: subgrid;
    grid-row: span 3;
}

h1 {
    font-size: 400%; /* Scale h1 to 4x the base font size */
}

h2 {
    margin: 0
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.color-scheme {
    position: absolute; /* Take the element out of the normal document flow */
    top: 1rem; /* Offset 1rem from the top */
    right: 1rem; /* Offset 1rem from the right */
    font-size: 80%; /* Reduce font size for subtlety */
    font-family: inherit; /* Inherit font from parent to maintain consistency */
    padding: 0.5rem; /* Add some padding */
    border-radius: 0.5rem; /* Rounded corners */
    z-index: 1000; /* Ensure it appears above other content */
}