html {
    --color-accent: oklch(45% 0.20 240);
    color-scheme: light dark
}

body {
    font-family: Arial, sans-serif;
    font: 100%/1.5;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
}  

nav {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(50% 10% 200 / 40%);
}

nav a:hover {
    background-color: oklch(50% 0.2 240 / 13%);
    border-bottom: 0.4em solid oklch(90% 0.65 240);
    padding-bottom: calc(0.5em - 0.4em);
}

ul {
    display: contents
}
li {
    display: contents
}

a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

a.current {
    border-bottom: 0.4em solid oklch(50% 10% 200 / 40%);
    padding-bottom: calc(0.5em - 0.4em);
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}

button {
    grid-column: 1 / -1;
}

input, textarea, button {
    font: inherit; 
    box-sizing: border-box;
    width: 100%;
}