html {
    --color-accent: oklch(45% 0.20 240);
}

body {
    font-family: Arial, sans-serif;
    font: 100%/1.5;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
}

header {
    text-align: center;
    margin-bottom: 30px;
}
nav {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: oklch(80% 3% 200);
}

nav a:hover {
    background-color: oklch(from var(--color-accent) 95% 5% h);
    border-bottom: 0.4em solid oklch(90% 0.65 240);
    padding-bottom: calc(0.5em - 0.4em);
}

section {
    margin-bottom: 30px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
p {
    font-size: 14px;
    margin: 5px 0;
}
ul {
    display: contents
}
li {
    display: contents
}
a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}

a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: calc(0.5em - 0.4em);
}